.row-fluid
  .span11
    .box
      .box-header
        %span.title= t('admin.<%= resources %>.index.header', default: '<%= resources.humanize %>')
        %ul.box-toolbar
          %li
            = link_to  [:new, :admin, resource], :class=>"label label-green" do
              = draw_icon 'plus'
              = t('admin.<%= resources %>.new_<%= resource %>', default: "New <%= resource %>")
      .box-content
        %table.table.table-normal
          %thead
            %tr
            <%- attributes.each do |attr| -%>
              %th
                = sort_link @q, :<%= attr %>
            <%- end -%>
              %th(width="40px")
                -#= t('common.actions', default: 'Actions')
          %tbody
            - collection.each do |resource|
              %tr
            <%- attributes.each_with_index do |attr, index| -%>
              <%- if index == 0 -%> 
                %td= link_to resource, [:admin, resource]
              <%- else -%>
                %td= resource.<%= attr %>
              <%- end -%>
            <%- end -%>
                %td
                  .btn-group
                    %button.btn.btn-mini.btn-default.dropdown-toggle(data-toggle="dropdown")
                      = draw_icon 'cog'
                    %ul.dropdown-menu
                      %li
                        = link_to [:edit, :admin, resource] do
                          = draw_icon('edit')
                          = t('common.edit', default: 'Edit')

                      %li
                        = link_to  [:admin, resource], method: :delete, data: { confirm: t('common.are_you_sure', default: "Are you sure?") } do
                          = draw_icon('trash')
                          = t('common.delete', default: 'Delete')
      .table-footer
        = paginate collection
